.about {
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.about__info {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4.5px;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  line-height: calc(18 / 12);
  color: $main-text-color;
  background-color: $accent-text-color;
  border-radius: 3px;
  padding: 3px 10px;
  @media screen and (min-width: 768px) {
    gap: 6px;
    padding: 4px 13px 4px 14px;
    font-size: 16px;
    line-height: calc(24 / 16);
    border-radius: 5px;
    margin: 0;
  }
  & img {
    width: 14px;
    height: 14px;
    @media screen and (min-width: 768px) {
      width: 19px;
      height: 19px;
    }
  }
}

.about__title {
  font-weight: 800;
  font-size: 52px;
  line-height: calc(65 / 52);
  text-align: center;
  text-transform: uppercase;
  color: $accent-color;
  @media screen and (min-width: 768px) {
    font-size: 67px;
    line-height: calc(84 / 67);
    text-align: left;
  }
  @media screen and (min-width: 1200px) {
    font-size: 77px;
    line-height: calc(94 / 77);
    text-align: left;
  }
}

.about__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    justify-content: start;
  }
}

.about__accent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $accent-color;
  border-radius: 3.6px;
  width: 76px;
  height: 27px;
  transform: matrix(1, -0.06, 0.06, 1, 0, 0);
  font-weight: 800;
  font-size: 16px;
  line-height: calc(20 / 16);
  text-transform: uppercase;
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: calc(29 / 24);
    width: 107px;
    height: 39px;
    border-radius: 5px;
    transform: rotate(-3.51deg);
  }
}

.about__text {
  font-weight: 600;
  font-size: 15px;
  line-height: calc(18 / 15);
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: calc(24 / 18);
  }
  @media screen and (min-width: 1200px) {
    font-size: 22px;
    line-height: calc(26 / 22);
  }
}

.about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
  text-align: center;
  color: $main-text-color;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    text-align: left;
    font-size: 16px;
    line-height: calc(27 / 16);
  }
  @media screen and (min-width: 1200px) {
    text-align: left;
    font-size: 18px;
    line-height: calc(27 / 18);
    max-width: 419px;
  }
  &--bold {
    font-weight: 600;
  }
  &--color {
    font-weight: 600;
    color: $accent-text-color;
  }
  &--block {
    display: inline-block;
    text-align: center;
    background-color: $accent-text-color;
    border-radius: 3px;
    padding: 1px 6px 0 8px;
    font-weight: 700;
    font-size: 17px;
    line-height: calc(26 / 17);
  }
}
