.list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: start;
  gap: 22px;
  margin-bottom: 39px;
  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    margin-top: 52px;
  }
}

.list__item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  max-width: 226px;
  margin: 0 auto;
  &-img {
    display: flex;
    min-width: 51px;
  }
  @media screen and (min-width: 768px) {
    max-width: 340px;
    gap: 17px;
    margin: 0;
  }
  @media screen and (min-width: 1200px) {
    max-width: 375px;
    gap: 17px;
  }
  &--box {
    @media screen and (min-width: 768px) {
      align-items: center;
    }
  }
}

.list__img {
  width: 51px;
  height: 49px;
  &--box {
    width: 46px;
    height: 46px;
    @media screen and (min-width: 768px) {
      width: 38px;
      height: 38px;
    }
  }
}

.list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: $main-text-color;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: calc(18 / 12);
  }

  &--upper {
    text-transform: uppercase;
    @media screen and (min-width: 768px) {
      font-size: 13px;
      line-height: calc(16 / 13);
    }
    & span {
      color: $accent-text-color;
    }
  }
}

.list__description {
  font-size: 12px;
  line-height: calc(18 / 12);
  color: $main-text-color;
  @media screen and (min-width: 768px) {
    line-height: calc(19 / 12);
    &--container {
      max-width: 210px;
    }
  }
}
