$accent-color: #ff3459;
$main-text-color: #ffffff;
$link-color: rgba(255, 255, 255, 0.5);
$btn-hover-color: #e88b9c;
$btn-mobile-color: #0048ff;
$btn-mobile-hover-color: #90a2d1;
$form-bg-color: #303a53;
$input-color: #272d3d;
$accent-text-color: #4252d1;
$bg-color: #272d3d;
$header-bg-color: #302e5a;
